<?xml version="1.0" encoding="utf-8" ?>

<configs>
  <config name="System">
    <value>DiNoBus</value>
    <comment>Name of the system framework</comment>
  </config>
  
  <config name="version">
    <value>1.0</value>
    <comment>Version and date of the release</comment>
  </config>
  
  <config name="charset">
    <value>utf-8</value>
    <comment>Charset</comment>
  </config>
  
  <config name="defaultLanguage">
    <value>it</value>
    <comment>Default Language of the framework (ISO 639 alpha2code)</comment>
  </config>
  
  <config name="defaultLocale">
    <value>it_IT</value>
    <comment>Default LOCALE of the framework</comment>
  </config>
  
  <config name="defaultTimezone">
    <value>Europe/Rome</value>
    <comment>Default Timezone of the framework
      (how date and time are displayed - the setting
      to change how set date and time internally is in the
      file etc/init.php)</comment>
  </config>
  
  <config name="smartyCache">
    <value>0</value>
    <comment>Smarty Caching - 1 is recommended 
      only in production environment</comment>
  </config>
  
  

  <!-- System directories -->
  
  
  <config name="rootdir">
    <value>/home/www/Virtual-Hosts/dinobus/</value>
    <comment>Main root directory</comment>
  </config>
  
  <compconfig name="bindir">
    <subvalue>$rootdir</subvalue>
    <subvalue>/bin/</subvalue>
    <comment>Directory of binaries, scripts, cronjobs, ...</comment>
  </compconfig>
  
  <compconfig name="etcdir">
    <subvalue>$rootdir</subvalue>
    <subvalue>/etc/</subvalue>
    <comment>Directory of the configuration files</comment>
  </compconfig>
  
  <compconfig name="smartydir">
    <subvalue>$rootdir</subvalue>
    <subvalue>/smarty/</subvalue>
    <comment>Graphic User Interface: directory with tpl
      and dynamic css of all installed themes</comment>
  </compconfig>
  
  <compconfig name="incdir">
    <subvalue>$rootdir</subvalue>
    <subvalue>/inc/</subvalue>
    <comment>Directory of classes, libraries, functions and modules of
      all installed applications</comment>
  </compconfig>
  
  <compconfig name="classdir">
    <subvalue>$incdir</subvalue>
    <subvalue>/classes/</subvalue>
    <comment>Directory of classes</comment>
  </compconfig>
  
  <compconfig name="libdir">
    <subvalue>$incdir</subvalue>
    <subvalue>/lib/</subvalue>
    <comment>Directory of libraries and functions</comment>
  </compconfig>
  
  <compconfig name="moduledir">
    <subvalue>$incdir</subvalue>
    <subvalue>/modules/</subvalue>
    <comment>Directory of php modules</comment>
  </compconfig>
  
  <compconfig name="tmpdir">
    <subvalue>$rootdir</subvalue>
    <subvalue>/tmp/</subvalue>
    <comment>Base directory for tempfile generated by some tasks</comment>
  </compconfig>
  
  <compconfig name="datadir">
    <subvalue>$rootdir</subvalue>
    <subvalue>/data/</subvalue>
    <comment>Directory with datafiles, private files, documents and
      informations that for some reasons cannot be stored directly
      in the database (for example big files) and the access should
      be regulated (not in www and so accessible from all). In the
      varDir are stored dynamically generated documents, mail
      attachments and user uploaded files</comment>
  </compconfig>
  
  
  <compconfig name="wwwdir">
    <subvalue>$rootdir</subvalue>
    <subvalue>/www/</subvalue>
    <comment>Apache document root, the only directory accessible from
      the webserver. It contains the general init file, index.php
    </comment>
  </compconfig>

  <config name="smarty_class_path">
    <value>Smarty-3</value>
    <comment>
      La cartella in cui si trova la classe di Smarty
      Se il valore non cominicia con '/' si presume che il path sia,
      relativo al include-path di php
    </comment>
  </config>

  <!-- System directories (end) -->
  
  

  <!-- URL -->

  <config name="server_name">
    <value>wssad42.sad.it</value>
    <comment>Fully qualified domain or ip address of
      the machine of running framework</comment>
  </config>

  <config name="url_suffix">
    <value></value>
    <comment>Eventually suffix, for example /xxx/yyy </comment>
  </config>

  <config name="url_port">
    <value>:21323</value>
    <comment>
      Port upon is listening the framework
      For HTTP default is 80, for HTTPS is 443
    </comment>
  </config>

  <config name="url_protocol">
    <value>http://</value>
    <comment>Connection protocol (http or https)</comment>
  </config>

  <compconfig name="URL">
    <subvalue>$url_protocol</subvalue>
    <subvalue>$server_name</subvalue>
    <subvalue>$url_port</subvalue>
    <subvalue>$url_suffix</subvalue>
    <comment>
      Composed by protocol.server_name.url_port.url_suffix
    </comment>
  </compconfig>

  <compconfig name="ROOTURL">
    <subvalue>$url_protocol</subvalue>
    <subvalue>$server_name</subvalue>
    <subvalue>$url_port</subvalue>
    <comment>Composed by protocol.server_name.port</comment>
  </compconfig>

  <!-- URL (end) -->

  <!-- Session -->
  
  <config name="cookie_name">
    <value>dinobus</value>
    <comment></comment>
  </config>
  
  <config name="session_timeout">
    <value>86400</value>
    <comment>
      Maximum time of no activity for session (seconds)
    </comment>
  </config>
  
  <config name="login_timeout">
    <value>1200</value>
    <comment>Timeout of login (seconds)</comment>
  </config>


  <!-- Session end -->

  <!-- Error messages -->

  <config name="err_mess_type">
    <value>long</value>
    <comment>
      Error verbosity:
      - 'long' = detailed error message (suggested only for development)
      - 'short' = generic error message (suggested for production)
    </comment>
  </config>

  <config name="debug">
    <value>1</value>
    <comment>1/0 on/off - use only for development</comment>
  </config>

  <!-- Error messages (end) -->

  
  <!-- LDAP -->
  
  <config name="ldap_host">
    <value>ldap.sad.it</value>
    <comment>LDAP Host</comment>
  </config>

  <config name="ldap_port">
    <value>389</value>
    <comment>LDAP Port</comment>
  </config>

  <!-- LDAP end -->

  <!-- Primary Application Database -->

  <config name="dbType">
    <value>mysql</value>
    <comment>
      Type of the database
    </comment>
  </config>
  
  <config name="dbHost">
    <value>wssad42.sad.it</value>
    <comment>
      Fully qualified domain or ip address of the machine
      in which is installed the database server
    </comment>
  </config>

  <config name="dbPort">
    <value>3306</value>
    <comment>Port upon is listening the database server</comment>
  </config>

  <config name="dbName">
    <value>dinobus</value>
    <comment>Database name</comment>
  </config>

  <config name="dbUser">
    <value>cmair</value>
    <comment>Username of the database account</comment>
  </config>

  <config name="dbPassword">
    <value></value>
    <comment>Password of the database account</comment>
  </config>

  <!-- Primary Application Database end -->

  <!-- Mailserver -->

  <config name="mail_host">
    <value>mailserver.sad.it</value>
    <comment>SMTP Server</comment>
  </config>

  <config name="mail_port">
    <value>25</value>
    <comment>Port upon is listening the mail server, default is 25</comment>
  </config>

  <!-- Mailserver end -->


  <!-- Autos-Server -->

  <config name="autos_host">
    <value>tim.mbus.sad.it</value>
    <comment>Autos Server</comment>
  </config>

  <config name="autos_port">
    <value>6050</value>
    <comment></comment>
  </config>

  <!-- Autos-Server end -->


  <!-- CANbus -->

  <config name="canbus_port">
    <value>8670</value>
    <comment>
      Port on which the canbus service is listening on board the vehicles.
    </comment>
  </config>

  <!-- CANbus end -->
</configs>
